Repository GreenBlitz/Syncopa-Off-Season-2024, pull requests merged in 2024-09, with the labels that each got.

#7 remove subsys
  src/main/java/frc/utils/GBSubsystem.java
Labels: A-SMALL-PR, no-need-of-simulation-testing, no-need-of-robot-testing

#1 Pivot -> core
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/constants/IDs.java
  src/main/java/frc/robot/subsystems/pivot/Pivot.java
  src/main/java/frc/robot/subsystems/pivot/PivotCommandsBuilder.java
  src/main/java/frc/robot/subsystems/pivot/PivotConstants.java
  src/main/java/frc/robot/subsystems/pivot/PivotStuff.java
  src/main/java/frc/robot/subsystems/pivot/factory/PivotFactory.java
  src/main/java/frc/robot/subsystems/pivot/factory/RealPivotConstants.java
Labels: A-SMALL-PR, needs-robot-testing, needs-simulation-testing

#3 Elbow -> core
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/constants/IDs.java
  src/main/java/frc/robot/subsystems/elbow/Elbow.java
  src/main/java/frc/robot/subsystems/elbow/ElbowCommandsBuilder.java
  src/main/java/frc/robot/subsystems/elbow/ElbowConstants.java
  src/main/java/frc/robot/subsystems/elbow/ElbowStuff.java
  src/main/java/frc/robot/subsystems/elbow/factory/ElbowFactory.java
  src/main/java/frc/robot/subsystems/elbow/factory/RealElbowConstants.java
Labels: A-SMALL-PR, needs-robot-testing, needs-simulation-testing

#6 Intake
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/constants/IDs.java
  src/main/java/frc/robot/subsystems/elbow/factory/RealElbowConstants.java
  src/main/java/frc/robot/subsystems/intake/Intake.java
  src/main/java/frc/robot/subsystems/intake/IntakeCommandsBuilder.java
  src/main/java/frc/robot/subsystems/intake/IntakeConstants.java
  src/main/java/frc/robot/subsystems/intake/IntakeStuff.java
  src/main/java/frc/robot/subsystems/intake/factory/IntakeFactory.java
  src/main/java/frc/robot/subsystems/intake/factory/RealIntakeConstants.java
Labels: A-SMALL-PR, needs-robot-testing, needs-simulation-testing

#5 Funnel -> core
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/constants/IDs.java
  src/main/java/frc/robot/subsystems/funnel/Funnel.java
  src/main/java/frc/robot/subsystems/funnel/FunnelCommandsBuilder.java
  src/main/java/frc/robot/subsystems/funnel/FunnelConstants.java
  src/main/java/frc/robot/subsystems/funnel/FunnelStuff.java
  src/main/java/frc/robot/subsystems/funnel/factory/FunnelFactory.java
  src/main/java/frc/robot/subsystems/funnel/factory/RealFunnelConstants.java
  src/main/java/frc/robot/subsystems/pivot/factory/RealPivotConstants.java
Labels: A-SMALL-PR, needs-robot-testing, needs-simulation-testing

#8 Swerve -> core
  .git-blame-ignore-revs
  .gitignore
  src/main/java/frc/robot/JoysticksBindings.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotManager.java
  src/main/java/frc/robot/constants/Field.java
  src/main/java/frc/robot/constants/IDs.java
  src/main/java/frc/robot/hardware/motor/sparkmax/BrushedSparkMAXMotor.java
  src/main/java/frc/robot/hardware/motor/sparkmax/BrushlessSparkMAXMotor.java
  src/main/java/frc/robot/hardware/motor/sparkmax/SparkMaxMotor.java
  src/main/java/frc/robot/poseestimation/OdometryObservation.java
  src/main/java/frc/robot/subsystems/flywheel/factory/RealFlywheelConstants.java
  src/main/java/frc/robot/subsystems/pivot/factory/RealPivotConstants.java
  src/main/java/frc/robot/subsystems/swerve/GyroStuff.java
  src/main/java/frc/robot/subsystems/swerve/HeadingStabilizer.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveCommandsBuilder.java
  src/main/java/frc/robot/subsystems/swerve/SwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/SwerveMath.java
  src/main/java/frc/robot/subsystems/swerve/SwerveName.java
  src/main/java/frc/robot/subsystems/swerve/SwerveState.java
  src/main/java/frc/robot/subsystems/swerve/factories/gyro/GyroFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/gyro/RealGyroConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/ModulesFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/constants/ModuleConstantsFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/constants/RealModuleConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/DriveFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/DriveRealConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/encoder/EncoderFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/encoder/EncoderRealConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/steer/SteerFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/steer/SteerRealConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/swerveconstants/RealSwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/swerveconstants/SwerveConstantsFactory.java
  src/main/java/frc/robot/subsystems/swerve/modules/Module.java
  src/main/java/frc/robot/subsystems/swerve/modules/ModuleConstants.java
  src/main/java/frc/robot/subsystems/swerve/modules/ModuleUtils.java
  src/main/java/frc/robot/subsystems/swerve/modules/Modules.java
  src/main/java/frc/robot/subsystems/swerve/modules/extrainputs/DriveInputs.java
  src/main/java/frc/robot/subsystems/swerve/modules/extrainputs/ModuleInputs.java
  src/main/java/frc/robot/subsystems/swerve/modules/stuffs/DriveStuff.java
  src/main/java/frc/robot/subsystems/swerve/modules/stuffs/EncoderStuff.java
  src/main/java/frc/robot/subsystems/swerve/modules/stuffs/SteerStuff.java
  src/main/java/frc/robot/subsystems/swerve/swervestatehelpers/AimAssist.java
  src/main/java/frc/robot/subsystems/swerve/swervestatehelpers/AimAssistMath.java
  src/main/java/frc/robot/subsystems/swerve/swervestatehelpers/DriveRelative.java
  src/main/java/frc/robot/subsystems/swerve/swervestatehelpers/DriveSpeed.java
  src/main/java/frc/robot/subsystems/swerve/swervestatehelpers/HeadingControl.java
  src/main/java/frc/robot/subsystems/swerve/swervestatehelpers/LoopMode.java
  src/main/java/frc/robot/subsystems/swerve/swervestatehelpers/RotateAxis.java
  src/main/java/frc/robot/subsystems/swerve/swervestatehelpers/SwerveStateHelper.java
  src/main/java/frc/robot/superstructure/Tolerances.java
  src/main/java/frc/utils/joysticks/Axis.java
  src/main/java/frc/utils/pathplannerutils/LocalADStarAK.java
  src/main/java/frc/utils/pathplannerutils/PathPlannerUtils.java
Labels: needs-robot-testing, needs-simulation-testing, A-BIG-PR

#10 Saved State
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveCommandsBuilder.java
Labels: A-SMALL-PR, needs-robot-testing, needs-simulation-testing

#11 States 1.2
  src/main/java/frc/robot/subsystems/funnel/FunnelState.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveCommandsBuilder.java
  src/main/java/frc/robot/superstructure/Supersturctrue.java
Labels: A-SMALL-PR, needs-robot-testing, needs-simulation-testing

#17 TalonSRX -> core
  src/main/java/frc/robot/hardware/motor/talonsrx/TalonSRXMotor.java
Labels: A-SMALL-PR, no-need-of-simulation-testing, no-need-of-robot-testing

#18 Solenoid -> talonsrx
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/constants/IDs.java
  src/main/java/frc/robot/subsystems/solenoid/Solenoid.java
  src/main/java/frc/robot/subsystems/solenoid/SolenoidCommandsBuilder.java
  src/main/java/frc/robot/subsystems/solenoid/SolenoidComponents.java
  src/main/java/frc/robot/subsystems/solenoid/SolenoidConstants.java
  src/main/java/frc/robot/subsystems/solenoid/factory/SolenoidFactory.java
  src/main/java/frc/robot/subsystems/solenoid/factory/SolenoidRealConstants.java
Labels: A-SMALL-PR, needs-robot-testing, needs-simulation-testing

#15 Roller -> core
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/constants/IDs.java
  src/main/java/frc/robot/subsystems/elbow/ElbowCommandsBuilder.java
  src/main/java/frc/robot/subsystems/flywheel/FlywheelCommandsBuilder.java
  src/main/java/frc/robot/subsystems/funnel/Funnel.java
  src/main/java/frc/robot/subsystems/intake/IntakeCommandsBuilder.java
  src/main/java/frc/robot/subsystems/pivot/PivotCommandsBuilder.java
  src/main/java/frc/robot/subsystems/roller/Roller.java
  src/main/java/frc/robot/subsystems/roller/RollerCommandsBuilder.java
  src/main/java/frc/robot/subsystems/roller/RollerConstants.java
  src/main/java/frc/robot/subsystems/roller/RollerStuff.java
  src/main/java/frc/robot/subsystems/roller/factory/RealRollerConstants.java
  src/main/java/frc/robot/subsystems/roller/factory/RollerFactory.java
Labels: A-SMALL-PR, needs-robot-testing, needs-simulation-testing
