Repository GreenBlitz/Syncopa-Off-Season-2024, pull requests merged in 2024-10, with the labels that each got.

#25 Swerve swerve
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/hardware/motor/sparkmax/SparkMaxMotor.java
  src/main/java/frc/robot/hardware/motor/sparkmax/SparkMaxWrapper.java
  src/main/java/frc/robot/hardware/phoenix6/Phoenix6Device.java
  src/main/java/frc/robot/hardware/signal/cansparkmax/ISparkMaxSignal.java
  src/main/java/frc/robot/hardware/signal/supplied/SuppliedAngleSignal.java
  src/main/java/frc/robot/hardware/signal/supplied/SuppliedDoubleSignal.java
  src/main/java/frc/robot/subsystems/elbow/factory/RealElbowConstants.java
  src/main/java/frc/robot/subsystems/funnel/factory/RealFunnelConstants.java
  src/main/java/frc/robot/subsystems/intake/factory/RealIntakeConstants.java
  src/main/java/frc/robot/subsystems/roller/factory/RealRollerConstants.java
  src/main/java/frc/robot/subsystems/solenoid/factory/SolenoidRealConstants.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveCommandsBuilder.java
  src/main/java/frc/robot/subsystems/swerve/SwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/SwerveType.java
  src/main/java/frc/robot/subsystems/swerve/factories/gyro/GyroFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/ModulesFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/constants/ModuleConstantsFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/constants/RealModuleConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/DriveFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/DriveRealConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/encoder/EncoderFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/encoder/EncoderRealConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/steer/SteerFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/steer/SteerRealConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/swerveconstants/RealSwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/swerveconstants/SwerveConstantsFactory.java
  src/main/java/frc/robot/subsystems/swerve/module/Module.java
  src/main/java/frc/robot/subsystems/swerve/module/ModuleConstants.java
  src/main/java/frc/robot/subsystems/swerve/module/ModuleUtils.java
  src/main/java/frc/robot/subsystems/swerve/module/Modules.java
  src/main/java/frc/robot/subsystems/swerve/module/extrainputs/DriveInputs.java
  src/main/java/frc/robot/subsystems/swerve/module/extrainputs/ModuleInputs.java
  src/main/java/frc/robot/subsystems/swerve/module/stuffs/DriveStuff.java
  src/main/java/frc/robot/subsystems/swerve/module/stuffs/EncoderStuff.java
  src/main/java/frc/robot/subsystems/swerve/module/stuffs/SteerStuff.java
  src/main/java/frc/robot/subsystems/swerve/swervestatehelpers/SwerveStateHelper.java
Labels: A-SMALL-PR, no-need-of-simulation-testing, no-need-of-robot-testing

#16 States -> core
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotManager.java
  src/main/java/frc/robot/subsystems/elbow/Elbow.java
  src/main/java/frc/robot/subsystems/elbow/ElbowCommandsBuilder.java
  src/main/java/frc/robot/subsystems/elbow/ElbowState.java
  src/main/java/frc/robot/subsystems/elbow/ElbowStateHandler.java
  src/main/java/frc/robot/subsystems/flywheel/Flywheel.java
  src/main/java/frc/robot/subsystems/flywheel/FlywheelCommandsBuilder.java
  src/main/java/frc/robot/subsystems/flywheel/FlywheelState.java
  src/main/java/frc/robot/subsystems/flywheel/FlywheelStateHandler.java
  src/main/java/frc/robot/subsystems/funnel/Funnel.java
  src/main/java/frc/robot/subsystems/funnel/FunnelCommandsBuilder.java
  src/main/java/frc/robot/subsystems/funnel/FunnelState.java
  src/main/java/frc/robot/subsystems/funnel/FunnelStateHandler.java
  src/main/java/frc/robot/subsystems/funnel/factory/RealFunnelConstants.java
  src/main/java/frc/robot/subsystems/intake/Intake.java
  src/main/java/frc/robot/subsystems/intake/IntakeCommandsBuilder.java
  src/main/java/frc/robot/subsystems/intake/IntakeState.java
  src/main/java/frc/robot/subsystems/intake/IntakeStateHandler.java
  src/main/java/frc/robot/subsystems/pivot/Pivot.java
  src/main/java/frc/robot/subsystems/pivot/PivotCommandsBuilder.java
  src/main/java/frc/robot/subsystems/pivot/PivotConstants.java
  src/main/java/frc/robot/subsystems/pivot/PivotState.java
  src/main/java/frc/robot/subsystems/pivot/PivotStateHandler.java
  src/main/java/frc/robot/subsystems/roller/Roller.java
  src/main/java/frc/robot/subsystems/roller/RollerCommandsBuilder.java
  src/main/java/frc/robot/subsystems/roller/RollerState.java
  src/main/java/frc/robot/subsystems/roller/RollerStateHandler.java
  src/main/java/frc/robot/subsystems/roller/factory/RealRollerConstants.java
  src/main/java/frc/robot/subsystems/solenoid/Solenoid.java
  src/main/java/frc/robot/subsystems/solenoid/SolenoidCommandsBuilder.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/superstructure/RobotState.java
  src/main/java/frc/robot/superstructure/Superstructure.java
  src/main/java/frc/robot/superstructure/Tolerances.java
  src/main/java/frc/utils/joysticks/SmartJoystick.java
Labels: needs-robot-testing, needs-simulation-testing, A-BIG-PR

#24 Fix Pivot Reset -> core
  src/main/java/frc/robot/subsystems/pivot/Pivot.java
  src/main/java/frc/robot/subsystems/pivot/PivotConstants.java
Labels: A-SMALL-PR, needs-robot-testing, needs-simulation-testing

#26 Merge core
  src/main/java/frc/robot/hardware/motor/sparkmax/BrushlessSparkMAXMotor.java
  src/main/java/frc/robot/hardware/request/cansparkmax/SparkMaxAngleRequest.java
  src/main/java/frc/robot/subsystems/elbow/factory/RealElbowConstants.java
Labels: A-SMALL-PR, needs-robot-testing, needs-simulation-testing

#30 Flywheel Calib -> core
  src/main/java/frc/robot/subsystems/flywheel/Flywheel.java
  src/main/java/frc/robot/subsystems/flywheel/FlywheelStuff.java
  src/main/java/frc/robot/subsystems/flywheel/factory/RealFlywheelConstants.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#31 Climb Poses -> core
  src/main/java/frc/robot/constants/Field.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#27 controllable talonsrx -> core
  src/main/java/frc/robot/hardware/motor/talonsrx/TalonSRXMotor.java
  src/main/java/frc/robot/hardware/request/srx/AngleSRXRequest.java
  src/main/java/frc/robot/hardware/request/srx/DoubleSRXRequest.java
  src/main/java/frc/robot/subsystems/solenoid/factory/SolenoidRealConstants.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#33 fix-const
  src/main/java/frc/robot/subsystems/funnel/FunnelConstants.java
  src/main/java/frc/robot/subsystems/funnel/factory/RealFunnelConstants.java
  src/main/java/frc/robot/subsystems/intake/IntakeConstants.java
  src/main/java/frc/robot/subsystems/intake/factory/RealIntakeConstants.java
  src/main/java/frc/robot/subsystems/pivot/factory/RealPivotConstants.java
  src/main/java/frc/robot/subsystems/roller/RollerConstants.java
  src/main/java/frc/robot/subsystems/roller/factory/RealRollerConstants.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#34 Fix climb angle
  src/main/java/frc/robot/constants/Field.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#28 Wrist -> core
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/constants/IDs.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/wrist/Wrist.java
  src/main/java/frc/robot/subsystems/wrist/WristCommandsBuilder.java
  src/main/java/frc/robot/subsystems/wrist/WristConstants.java
  src/main/java/frc/robot/subsystems/wrist/WristState.java
  src/main/java/frc/robot/subsystems/wrist/WristStateHandler.java
  src/main/java/frc/robot/subsystems/wrist/WristStuff.java
  src/main/java/frc/robot/subsystems/wrist/factory/RealWristConstants.java
  src/main/java/frc/robot/subsystems/wrist/factory/WristFactory.java
  src/main/java/frc/robot/superstructure/Superstructure.java
  src/main/java/frc/robot/superstructure/Tolerances.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#37 States improvement -> core
  src/main/java/frc/robot/subsystems/funnel/FunnelState.java
  src/main/java/frc/robot/subsystems/roller/RollerState.java
  src/main/java/frc/robot/superstructure/Superstructure.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#35 Arm Intake/Outtake -> core
  src/main/java/frc/robot/subsystems/elbow/ElbowState.java
  src/main/java/frc/robot/subsystems/funnel/FunnelState.java
  src/main/java/frc/robot/subsystems/intake/IntakeState.java
  src/main/java/frc/robot/subsystems/pivot/PivotState.java
  src/main/java/frc/robot/subsystems/roller/RollerState.java
  src/main/java/frc/robot/subsystems/wrist/WristState.java
  src/main/java/frc/robot/superstructure/RobotState.java
  src/main/java/frc/robot/superstructure/Superstructure.java
  src/main/java/frc/robot/superstructure/Timeouts.java
  src/main/java/frc/robot/superstructure/Tolerances.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#40 Merge template
  src/main/java/frc/robot/RobotManager.java
  src/main/java/frc/robot/hardware/signal/AngleSignal.java
  src/main/java/frc/utils/AngleUnit.java
  src/main/java/frc/utils/auto/AutonomousChooser.java
  src/main/java/frc/utils/auto/PathPlannerUtils.java
  vendordeps/PathPlannerLib.json
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#41 Calib
  src/main/java/frc/robot/subsystems/flywheel/FlywheelState.java
  src/main/java/frc/robot/subsystems/flywheel/factory/RealFlywheelConstants.java
  src/main/java/frc/robot/subsystems/pivot/factory/RealPivotConstants.java
  src/main/java/frc/robot/superstructure/Tolerances.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#43 work
  src/main/java/frc/robot/subsystems/pivot/Pivot.java
  src/main/java/frc/robot/subsystems/pivot/PivotState.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/DriveFactory.java
  src/main/java/frc/robot/superstructure/Superstructure.java
  src/main/java/frc/robot/superstructure/Timeouts.java
  src/main/java/frc/robot/superstructure/Tolerances.java
  src/main/java/frc/utils/DriverStationUtils.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#46 states-calib
  src/main/java/frc/robot/subsystems/flywheel/FlywheelState.java
  src/main/java/frc/robot/subsystems/pivot/PivotState.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#47 nam9es
  src/main/java/frc/robot/subsystems/elbow/ElbowState.java
  src/main/java/frc/robot/superstructure/RobotState.java
  src/main/java/frc/robot/superstructure/Superstructure.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#49 12/10 Drive fix
  src/main/java/frc/robot/subsystems/pivot/PivotConstants.java
  src/main/java/frc/robot/subsystems/pivot/PivotState.java
  src/main/java/frc/robot/superstructure/Tolerances.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#50 Note Rumble -> core
  src/main/java/frc/robot/JoysticksBindings.java
  src/main/java/frc/robot/superstructure/Superstructure.java
  src/main/java/frc/robot/superstructure/Timeouts.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#52 Add swerve
  src/main/java/frc/robot/RobotManager.java
  src/main/java/frc/robot/subsystems/swerve/GyroStuff.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/gyro/RealGyroConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/ModulesFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/DriveRealConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/encoder/EncoderRealConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/steer/SteerRealConstants.java
  src/main/java/frc/robot/subsystems/swerve/module/Module.java
  src/main/java/frc/robot/subsystems/swerve/module/Modules.java
  src/main/java/frc/robot/subsystems/swerve/module/stuffs/DriveStuff.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#55 Fix state log
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/subsystems/wrist/factory/WristFactory.java
  src/main/java/frc/robot/superstructure/Superstructure.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#19 Lifter -> core
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/constants/IDs.java
  src/main/java/frc/robot/subsystems/lifter/Lifter.java
  src/main/java/frc/robot/subsystems/lifter/LifterCommandsBuilder.java
  src/main/java/frc/robot/subsystems/lifter/LifterConstants.java
  src/main/java/frc/robot/subsystems/lifter/LifterStuff.java
  src/main/java/frc/robot/subsystems/lifter/factory/LifterFactory.java
  src/main/java/frc/robot/subsystems/lifter/factory/LifterRealConstants.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#22 Lifter states -> lifter
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/subsystems/lifter/Lifter.java
  src/main/java/frc/robot/subsystems/lifter/LifterCommandsBuilder.java
  src/main/java/frc/robot/subsystems/lifter/LifterState.java
  src/main/java/frc/robot/subsystems/lifter/LifterStateHandler.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#23 Climb structure
  src/main/java/frc/robot/subsystems/lifter/Lifter.java
  src/main/java/frc/robot/subsystems/lifter/LifterStateHandler.java
  src/main/java/frc/robot/subsystems/lifter/factory/LifterFactory.java
  src/main/java/frc/robot/subsystems/lifter/factory/LifterRealConstants.java
  src/main/java/frc/robot/subsystems/solenoid/SolenoidState.java
  src/main/java/frc/robot/superstructure/climb/ClimbConstants.java
  src/main/java/frc/robot/superstructure/climb/ClimbState.java
  src/main/java/frc/robot/superstructure/climb/ClimbStateHandler.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#54 State motion planner -> core
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/superstructure/StatesMotionPlanner.java
  src/main/java/frc/robot/superstructure/Superstructure.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#59 Mt
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/robot/subsystems/swerve/SwerveCommandsBuilder.java
  src/main/java/frc/utils/pathplannerutils/LocalADStarAK.java
  src/main/java/frc/utils/pathplannerutils/PathPlannerUtils.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#61 Intake Shoot -> core
  src/main/java/frc/robot/JoysticksBindings.java
  src/main/java/frc/robot/superstructure/Superstructure.java
  src/main/java/frc/robot/superstructure/Timeouts.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#60 Auto Commands -> add-paths
  src/main/deploy/pathplanner/autos/A15.auto
  src/main/deploy/pathplanner/autos/M231.auto
  src/main/deploy/pathplanner/autos/M263.auto
  src/main/deploy/pathplanner/autos/S78.auto
  src/main/deploy/pathplanner/paths/15.path
  src/main/deploy/pathplanner/paths/23.path
  src/main/deploy/pathplanner/paths/26.path
  src/main/deploy/pathplanner/paths/31.path
  src/main/deploy/pathplanner/paths/63.path
  src/main/deploy/pathplanner/paths/M2.path
  src/main/deploy/pathplanner/paths/shoot1.path
  src/main/deploy/pathplanner/paths/shoot7.path
  src/main/deploy/pathplanner/paths/shoot8.path
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/superstructure/RobotState.java
  src/main/java/frc/robot/superstructure/StatesMotionPlanner.java
  src/main/java/frc/robot/superstructure/Superstructure.java
  src/main/java/frc/robot/superstructure/Timeouts.java
  src/main/java/frc/robot/vision/limelights/Limelight.java
Labels: A-MEDIUM-PR, needs-robot-testing, needs-simulation-testing

#68 Popo
  src/main/java/frc/robot/poseestimator/GBPoseEstimator.java
  src/main/java/frc/robot/poseestimator/PoseEstimationMath.java
  src/main/java/frc/robot/vision/limelights/ILimelightFilterer.java
  src/main/java/frc/robot/vision/limelights/LimeLightConstants.java
  src/main/java/frc/robot/vision/limelights/LimelightFilterer.java
  src/main/java/frc/robot/vision/limelights/LimelightFilters.java
  src/main/java/frc/robot/vision/limelights/LimelightFiltersTolerances.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#66 Fix States Motion -> core
  src/main/java/frc/robot/superstructure/StatesMotionPlanner.java
  src/main/java/frc/robot/superstructure/Superstructure.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#64 Pass -> fix-states
  src/main/deploy/pathplanner/autos/M231.auto
  src/main/deploy/pathplanner/autos/M263.auto
  src/main/deploy/pathplanner/paths/23.path
  src/main/deploy/pathplanner/paths/26.path
  src/main/deploy/pathplanner/paths/31.path
  src/main/deploy/pathplanner/paths/63.path
  src/main/deploy/pathplanner/paths/Ashoot.path
  src/main/deploy/pathplanner/paths/M2.path
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/constants/Field.java
  src/main/java/frc/robot/subsystems/flywheel/FlywheelState.java
  src/main/java/frc/robot/subsystems/pivot/PivotState.java
  src/main/java/frc/robot/subsystems/swerve/swervestatehelpers/AimAssist.java
  src/main/java/frc/robot/subsystems/swerve/swervestatehelpers/SwerveStateHelper.java
  src/main/java/frc/robot/superstructure/RobotState.java
  src/main/java/frc/robot/superstructure/StatesMotionPlanner.java
  src/main/java/frc/robot/superstructure/Superstructure.java
Labels: A-MEDIUM-PR, needs-robot-testing, needs-simulation-testing

#69 Funnel sensors -> core
  src/main/java/frc/robot/subsystems/funnel/Funnel.java
  src/main/java/frc/robot/subsystems/funnel/FunnelStuff.java
  src/main/java/frc/robot/subsystems/funnel/factory/RealFunnelConstants.java
Labels: A-SMALL-PR

#71 Merge pose
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/poseestimator/GBPoseEstimator.java
  src/main/java/frc/robot/poseestimator/PoseEstimationMath.java
  src/main/java/frc/robot/poseestimator/PoseEstimatorConstants.java
  src/main/java/frc/robot/poseestimator/VisionDenoiser.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/DriveFactory.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#72 Merge pose
  src/main/java/frc/robot/poseestimator/GBPoseEstimator.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#70 Funnel Sensor Usage
  src/main/java/frc/robot/JoysticksBindings.java
  src/main/java/frc/robot/subsystems/flywheel/FlywheelState.java
  src/main/java/frc/robot/subsystems/funnel/FunnelState.java
  src/main/java/frc/robot/subsystems/funnel/factory/RealFunnelConstants.java
  src/main/java/frc/robot/superstructure/Superstructure.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#73 Steampunk
  src/main/java/frc/robot/JoysticksBindings.java
  src/main/java/frc/robot/constants/Field.java
  src/main/java/frc/robot/poseestimator/GBPoseEstimator.java
  src/main/java/frc/robot/poseestimator/PoseEstimatorConstants.java
  src/main/java/frc/robot/subsystems/elbow/ElbowState.java
  src/main/java/frc/robot/subsystems/flywheel/FlywheelState.java
  src/main/java/frc/robot/subsystems/pivot/PivotInterpolationMap.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/DriveFactory.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#74 Auto commands
  .pathplanner/settings.json
  src/main/deploy/pathplanner/autos/AMP-1-5-6.auto
  src/main/deploy/pathplanner/autos/MId-2-3-1.auto
  src/main/deploy/pathplanner/autos/Source-8-7.auto
  src/main/deploy/pathplanner/navgrid.json
  src/main/deploy/pathplanner/paths/1-5.path
  src/main/deploy/pathplanner/paths/2-3.path
  src/main/deploy/pathplanner/paths/3-1.path
  src/main/deploy/pathplanner/paths/5-shoot.path
  src/main/deploy/pathplanner/paths/5shoot-6.path
  src/main/deploy/pathplanner/paths/6-shoot.path
  src/main/deploy/pathplanner/paths/7-shoot.path
  src/main/deploy/pathplanner/paths/8-shoot.path
  src/main/deploy/pathplanner/paths/8shoot-7.path
  src/main/deploy/pathplanner/paths/Mid-Before2.path
  src/main/deploy/pathplanner/paths/amp-before1.path
  src/main/deploy/pathplanner/paths/before1-1.path
  src/main/deploy/pathplanner/paths/before2-2.path
  src/main/deploy/pathplanner/paths/source-8.path
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/superstructure/RobotState.java
  src/main/java/frc/robot/superstructure/StatesMotionPlanner.java
  src/main/java/frc/robot/superstructure/Superstructure.java
Labels: A-BIG-PR, needs-robot-testing, needs-simulation-testing

#76 Bindings
  src/main/java/frc/robot/JoysticksBindings.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/DriveFactory.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#75 Interpolation calibration binds for practice
  src/main/java/frc/robot/JoysticksBindings.java
  src/main/java/frc/robot/subsystems/pivot/PivotState.java
  src/main/java/frc/robot/subsystems/pivot/PivotStateHandler.java
  src/main/java/frc/robot/superstructure/RobotState.java
  src/main/java/frc/robot/superstructure/StatesMotionPlanner.java
  src/main/java/frc/robot/superstructure/Superstructure.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing

#78 Merge from comp
  src/main/java/frc/robot/JoysticksBindings.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/subsystems/elbow/ElbowState.java
Labels: needs-robot-testing, A-SMALL-PR, needs-simulation-testing
